.section-1 {
    /* background-image: url("~/assets/img/bg-1.png"); */
    /* box-shadow: inset 0 0 0 1000px rgb(32, 75, 93,0.75); */
    /* background-size: cover;
    background-position: center; */
    background-color: #335E89 ;
}

.section-2 {
    background-color: #283489;
}

#transition-image-1 {
    margin-top: -4%;
    left: 0;
    width: 100%;
}

#transition-image-2 {
    margin-top: -1%;
    margin-left: -1%;
    width: 100%;
}


#big-text {
    color: #283489;
    background-image: url("~/assets/img/bg-2.svg");
    background-size:cover;
    /* box-shadow: inset 0 0 0 1000px rgb(32, 75, 93,0.75); */
    background-position: center;
}

#client-title {
    background-image: url("~/assets/img/garis-random.svg");
    background-repeat: no-repeat;
    background-position: bottom;
}

.primary-button {
    background-color : #335E89;
}

.primary-button:hover {
    background-color : #336e89;
/* background-color : #893333; */
}


.description{
    text-align: justify;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 640px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 640px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .description{
        max-width: 537px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
    .description{
        max-width: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1280px) {}

/* 2xl */
@media only screen and (min-width: 1536px) {}
